html {font-size: 16px; font-family: Tahoma, Geneva, sans-serif;}
table {background-color: #999; border: 1px solid black; border-collapse: collapse; }
textarea {width: 30rem; height:3rem; background-color: #181818; color: white; border: none; font-weight: bold; font-size: 1rem;}
textarea.small {width: 20rem; height:2rem; }
input[type=url], input[type=text] {
	background-color: #181818;
	color: white;
	border: none;
	padding: 0.3rem;
	margin: 0.3rem;
}
input[type=submit], input[type=button] {
	background-color: #181818;
	color: white;
	border: 0px solid black;
	border-radius: 0.3rem;
	padding: 0.5rem 1rem;
}
td {
	margin: 0.2rem;
	padding: 0.3rem;
}
th {margin: 0.2rem; background-color: #CCC;}
tr {border: 2px solid black;}
fieldset {margin: 0; padding: 0; border: 0px solid black;}

#debug1 {
	background-color: rgb(246, 183, 183);
	padding: 0.2rem;
	margin: 0;
}
#debug2 {
	background-color: rgb(194, 118, 118);
	padding: 0.2rem;
	margin: 0;
}

.blinkgreen {
    background: #078a53;
    transition: background 0.2s ease-in-out;
}
.blinkred {
    background: #8a0744;
    transition: background 0.2s ease-in-out;
}
.blinklightred {
	background: #c23e7b;
    transition: background 0.2s ease-in-out;
}
.blinkyellow {
    background: #94c707;
    transition: background 0.2s ease-in-out;
}
.curtains {
	height: 0;
	margin: 0;
	padding: 0;
	transition: height 0.2s ease-in-out;
}
